html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    font-family: sans-serif;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Intro Section */
#intro {
    background-color: #f5f5dc;
    color: #000;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#intro h1 {
    color: brown;
    font-size: 3em;
    margin-bottom: 10px;
}

#intro img {
    max-height: 60%;
    max-width: 40%;
    object-fit: cover;
}

#intro .text {
    max-width: 40%;
}

/* About Section */
#about {
    background-color: #ffd79f;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about h2 {
margin-bottom: 5px;
}

#about .lists {
    display: flex;
    justify-content: center; /* centers the combined columns */
    gap: 40px;
    width: auto; /* remove fixed width */
    }

#about .column {
    flex: 1;
}

#about ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Contact Section */
#contact {
background-color: #000;
color: #fff;
}

.image{
    border-radius: 50%;
}